@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Akshar:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/* Fuente para el nav */
/* Fuente para el banner */
/* fuente titulos*/
/* fuente para textos */
/* En este espacio se hallan los estilos comunes a todas las páginas del sitio */
/* Estilos Header */
header {
  position: absolute;
  z-index: 10;
  width: 100%; }

.navbar {
  padding: 20px 0; }
  .navbar .navbar-brand img {
    width: 180px;
    height: 180px; }
    @media only screen and (min-width: 0px) and (max-width: 767px) {
      .navbar .navbar-brand img {
        width: 120px;
        height: 120px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .navbar .navbar-brand img {
        width: 150px;
        height: 150px; } }

@media (min-width: 992px) {
  nav .navbar-nav li {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden; }
    nav .navbar-nav li:before {
      content: "";
      position: absolute;
      z-index: -1;
      left: 0;
      right: 0;
      bottom: 0;
      background: white;
      height: 4px;
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
      -webkit-transition-property: transform;
      transition-property: transform;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out; }
    nav .navbar-nav li:hover:before, nav .navbar-nav li :focus:before, nav .navbar-nav li :active:before {
      -webkit-transform: translateY(0);
      transform: translateY(0); } }

nav .navbar-nav li a {
  color: white;
  font-family: "Prompt", sans-serif;
  margin: 0px 10px;
  padding: 5px 15px;
  font-size: 1rem;
  text-shadow: 2px 2px 5px black; }

.navbar-brand {
  color: white;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2em; }

.nav-item {
  font-weight: 800;
  text-transform: uppercase; }

.banner {
  position: relative;
  background: url(../imagenes/header-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .banner {
      background: url(../imagenes/prueba4.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      background-position: center; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .banner {
      background: url(../imagenes/prueba6.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      background-position: center; } }
  .banner .row {
    text-align: center;
    display: flex;
    justify-content: center; }
    .banner .row .banner__texto {
      width: 565px; }
      @media only screen and (min-width: 0px) and (max-width: 767px) {
        .banner .row .banner__texto {
          width: 380px; } }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .banner .row .banner__texto {
          width: 480px; } }
      .banner .row .banner__texto h2 {
        color: white;
        font-family: "Akshar", sans-serif;
        margin: 0;
        padding: 0;
        font-size: 2.8em;
        font-weight: 1000;
        line-height: 1.5em;
        text-shadow: 2px 2px 5px black; }
        @media only screen and (min-width: 0px) and (max-width: 767px) {
          .banner .row .banner__texto h2 {
            font-size: 1.8rem; } }
        @media only screen and (min-width: 768px) and (max-width: 991px) {
          .banner .row .banner__texto h2 {
            font-size: 2rem; } }

/* Termina estilos Header */
/* Estilos Footer */
.footer__links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 20px; }
  .footer__links a {
    font-family: "Prompt", sans-serif;
    color: black;
    text-decoration: none; }

/* Termina estilos footer */
.inicio--texto {
  display: flex;
  text-align: center;
  justify-content: center; }
  .inicio--texto p {
    margin: 150px 0px;
    font-family: "Raleway", sans-serif;
    font-size: 1.4rem;
    font-weight: bold; }
    @media only screen and (min-width: 0px) and (max-width: 767px) {
      .inicio--texto p {
        font-size: 1.15rem;
        margin: 100px 20px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .inicio--texto p {
        font-size: 1.3rem;
        margin: 100px 30px; } }

.inicio--imagen {
  width: 100%;
  height: 400px;
  overflow: hidden; }
  .inicio--imagen video {
    width: 100%; }

.inicio--cards {
  display: flex;
  margin: 120px 0px; }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .inicio--cards {
      flex-direction: column;
      margin: 0px 0px 50px 0px auto; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .inicio--cards {
      flex-direction: column;
      margin: 100px auto; } }
  @media only screen and (min-width: 992px) and (max-width: 2000px) {
    .inicio--cards {
      max-width: 2000px; } }
  .inicio--cards .container--card {
    position: relative;
    display: flex;
    text-align: center;
    justify-content: start;
    width: 100%;
    height: 550px;
    margin: 30px 0px; }
    .inicio--cards .container--card .image {
      opacity: 1;
      display: block;
      width: 100%;
      height: auto;
      transition: .5s ease;
      backface-visibility: hidden; }
    .inicio--cards .container--card .card--effecto {
      transition: .5s ease;
      opacity: 0;
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center; }
      .inicio--cards .container--card .card--effecto .btn--card {
        background-color: white;
        color: rgba(0, 0, 0, 0.6);
        border: 1px solid;
        border-color: rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 1.2rem;
        font-weight: bold;
        transition-duration: 0.5s;
        box-shadow: 2px 2px 5px black; }
        .inicio--cards .container--card .card--effecto .btn--card:hover {
          background-color: #DDFFBC;
          color: black;
          border: 1px solid;
          transform: perspective(1px) scale3d(1.044, 1.044, 1);
          transition-duration: 20ms; }

.container--card:hover .image {
  opacity: 0.5; }

.container--card:hover .card--effecto {
  opacity: 1; }

/* estilos de la página podcast */
a {
  text-decoration: none;
  color: white; }
  a:hover {
    color: white; }

.contenedor--tarjetas {
  margin: 50px 0px;
  width: 100%; }
  .contenedor--tarjetas .tarjeta {
    margin: 50px 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
    .contenedor--tarjetas .tarjeta .imagen {
      width: 350px;
      height: 350px; }
      @media only screen and (min-width: 0px) and (max-width: 767px) {
        .contenedor--tarjetas .tarjeta .imagen {
          width: 250px;
          height: 250px; } }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .contenedor--tarjetas .tarjeta .imagen {
          width: 300px;
          height: 300px; } }
      .contenedor--tarjetas .tarjeta .imagen img {
        width: 100%;
        height: 100%;
        border-radius: 10px; }
    .contenedor--tarjetas .tarjeta .tarjeta--texto {
      width: 350px;
      height: 100px;
      margin: 10px 20px 30px 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .contenedor--tarjetas .tarjeta .tarjeta--texto p {
        text-align: center;
        font-family: "Raleway", sans-serif;
        font-size: 1.2rem;
        font-weight: bold; }
        @media only screen and (min-width: 0px) and (max-width: 767px) {
          .contenedor--tarjetas .tarjeta .tarjeta--texto p {
            font-size: 1rem; } }
        @media only screen and (min-width: 768px) and (max-width: 991px) {
          .contenedor--tarjetas .tarjeta .tarjeta--texto p {
            font-size: 1.2rem; } }
      @media only screen and (min-width: 0px) and (max-width: 767px) {
        .contenedor--tarjetas .tarjeta .tarjeta--texto .episodio--2 {
          margin-top: 30px; } }
      .contenedor--tarjetas .tarjeta .tarjeta--texto button {
        background-color: white;
        color: rgba(0, 0, 0, 0.6);
        border: 1px solid;
        border-color: rgba(0, 0, 0, 0.5);
        border-radius: 30px;
        padding: 10px 20px;
        font-size: 1.2rem;
        font-weight: 500;
        transition-duration: 0.5s;
        box-shadow: 2px 2px 5px black; }
        @media only screen and (min-width: 0px) and (max-width: 767px) {
          .contenedor--tarjetas .tarjeta .tarjeta--texto button {
            padding: 5px 10px;
            font-size: 1rem; } }
        .contenedor--tarjetas .tarjeta .tarjeta--texto button:hover {
          background-color: #DDFFBC;
          color: black;
          border: 1px solid;
          transform: perspective(1px) scale3d(1.044, 1.044, 1);
          transition-duration: 20ms; }

.nosotros__intro {
  margin: 100px 0px; }
  .nosotros__intro div {
    margin: 0px 200px; }
    @media only screen and (min-width: 0px) and (max-width: 767px) {
      .nosotros__intro div {
        margin: 0px 70px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .nosotros__intro div {
        margin: 0px 100px; } }
  .nosotros__intro p {
    text-align: center;
    font-size: 1.4rem;
    font-family: "Raleway", sans-serif;
    font-weight: bold; }

.titulos {
  text-align: center;
  font-size: 3rem;
  font-family: "Dancing Script", cursive; }

.contenedor--nosotros {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .contenedor--nosotros {
      margin-bottom: 100px; } }
  .contenedor--nosotros .card {
    position: relative;
    width: 300px;
    height: 400px;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    transition: .5s;
    margin: 20px 50px 100px 50px; }
    @media only screen and (min-width: 0px) and (max-width: 767px) {
      .contenedor--nosotros .card {
        margin: 30px 20px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .contenedor--nosotros .card {
        margin: 30px 50px; } }
    .contenedor--nosotros .card:hover {
      box-shadow: 0 5px 15px #91C788;
      transform: translateY(-15px); }
    .contenedor--nosotros .card .head {
      height: 125px;
      width: 100%;
      position: relative; }
      .contenedor--nosotros .card .head .circle {
        position: absolute;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        background: #52734D;
        bottom: 0; }
      .contenedor--nosotros .card .head .img {
        width: 150px;
        height: 150px;
        position: absolute;
        background: #fff;
        padding: 5px;
        border-radius: 50%;
        bottom: -30%;
        left: 50%;
        transform: translate(-50%); }
        .contenedor--nosotros .card .head .img img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          object-fit: cover; }
    .contenedor--nosotros .card .description {
      height: 200px;
      padding: 40px 20px 20px 20px;
      border-bottom: solid 1px rgba(6, 74, 76, 0.18);
      text-align: center; }
      .contenedor--nosotros .card .description h3 {
        color: #435f3f; }
      .contenedor--nosotros .card .description p {
        margin-top: 20px;
        font-size: 15px;
        font-family: "Raleway", sans-serif;
        font-weight: bold;
        font-size: 0.9rem; }
    .contenedor--nosotros .card .contact {
      width: 100%;
      height: 75px;
      display: flex;
      align-items: center;
      justify-content: center; }
      .contenedor--nosotros .card .contact a {
        text-decoration: none;
        color: #fff;
        background: #52734D;
        padding: 5px 20px;
        border-radius: 5px;
        transition: .3s; }
        .contenedor--nosotros .card .contact a:hover {
          background: #91C788; }

.titulo--contacto {
  font-size: 3rem;
  font-family: "Dancing Script", cursive;
  text-align: center;
  margin: 50px 0px;
  /* celular */
  /* tablet */ }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .titulo--contacto {
      font-size: 2rem; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .titulo--contacto {
      font-size: 2.5rem; } }

.boton-contacto {
  background-color: white;
  color: rgba(0, 0, 0, 0.5);
  border: 1px solid;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 1.2rem;
  transition-duration: 0.5s;
  box-shadow: 2px 2px 5px black; }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .boton-contacto {
      padding: 5px 10px;
      font-size: 1rem; } }
  .boton-contacto:hover {
    background-color: #DDFFBC;
    color: black;
    border: 1px solid;
    transform: perspective(1px) scale3d(1.044, 1.044, 1);
    transition-duration: 20ms; }
